{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "singleQuote": false,
  "semi": false,
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "^(react/(.*)$)|^(react$)",
    "^(@vercel/(.*)$)|^(@vercel$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "",
    "^@/(.*)$",
    "",
    "^[./]"
  ]
}
