{
  "semi": false,
  "singleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^([A-Za-z]|@[^s/])",
		"^@/(lib)(/.*)?$",
    "^@/(.*)?$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "importOrderParserPlugins": ["jsx", "typescript", "decorators-legacy"],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ]
}
